node_modules/
dist/
dist-electron/
release/
android/.gradle/
android/app/build/
android/build/
android/capacitor/.gradle/
android/.idea/
*.iml
*.log
.DS_Store
Thumbs.db
*.keystore
*.jks
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.vite/
.cache/
*.local
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
